/* ==== ABOUT PAGE ==== */

.about-container {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.about-card {
    width: 70%;
    background: #1a1a1d;
    padding: 40px;
    border-radius: 12px;
    border: 1px solid #2a2a2e;
    box-shadow: 0 0 15px rgba(0, 170, 255, 0.05);
}

.about-title {
    font-size: 30px;
    color: #00aaff;
    margin-bottom: 20px;
}

.sub-title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #00aaff;
}

.about-text {
    line-height: 1.8;
    color: #cccccc;
    margin-bottom: 15px;
}

.about-list {
    padding-left: 20px;
    color: #bbbbbb;
}

.about-list li {
    margin-bottom: 8px;
}