/* ==== ARTICLE PAGE ==== */

.article-container {
    width: 70%;
    margin: 40px auto;
    background: #1a1a1d;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #2a2a2e;
}

.article-title {
    font-size: 28px;
    color: #00aaff;
}

.article-meta {
    color: #bbbbbb;
    margin-bottom: 20px;
}

.article-img {
    width: 30%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.article-text {
    line-height: 1.8;
    margin-bottom: 15px;
}